<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>{% block title %}Mindlog{% endblock %}</TITLE>
	    {% block css_link %} 
			<LINK href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css"> 	    
	    {% endblock %}
	    {% block jscript %}{% endblock %}	    
	    
	    <style type="text/css">{% block css_style %}{% endblock %} </style>
	</HEAD>
	<BODY>
		<div id="container">
			<div id="header">
				<h1 id="logo">			
					<a href=""><img id="img_logo" src="{{STATIC_URL}}img/logo_small.png"></a>
				</h1>
				{% block nav_section %}
				
				{% if nav_bar_list %}
				<div id="nav_bar">
					<ul>
						{%for el in nav_bar_list %}
							<li><a href="{{el.get_url_with_query_info}}">{{el.text}}</a></li>		
						{% endfor %}			
					</ul>			
				</div>						
				{% endif %}				
				
				{% endblock %}
			</div>
			<div id="blog_panel">
			{% block blog_head %}
			
				<h1><a href="/blog/{{username}}/1/">{{username|capfirst}}'s Blog</a></h1>
			{% endblock %}
			</div>
			<div id="contentpane">
				<div id="main_content">
					{% block content %}{% endblock %}
				</div>
				<div id="sidebar">
					{% block sidebar %}{% endblock %}		
				</div>			
			</div>
			<div id="footer">
				{% block footer %} All rights reserved. Designed by Nilanjan Basu {%endblock%}
			</div>
		</div>
	</BODY>
</HTML>
