{% extends "blog_theme_base.html" %}

{% block title %} | {{block.super}} {% endblock %}

{% block css_link %}
{{block.super}}
<LINK href="{{STATIC_URL}}css/content.css" rel="stylesheet" type="text/css">
<LINK href="{{STATIC_URL}}css/individual_blog_page.css" rel="stylesheet" type="text/css"> 
{% endblock %}	

{% block css_style %}

#content_title {
	font-size:1.5em;
}
#entry_wrap > h2 {
	padding-bottom: 10px;
}

#user_content {
	padding-left:5px;
}
#user_content ol, #user_content ul {
	padding-left:30px;
}
#user_content p,h1,h2,h3,h4 {
	padding: 5px 0px 5px 0
}
#sidebar_wrap{
	padding:10px 10px;
	text-align:center;
}
#sidebar_wrap p{
	text-align:justify;
	padding-top: 20px;
	padding-left:20px;
	color:#7F0610;
	font-size:1.2em;
	text-decoration:underline;
}
#sidebar_wrap ul{
	padding:5px;
	list-style:none outside none;
	text-align:justify;
	font-size:.9em;
}
#sidebar_wrap li{
	padding-bottom:4px;
	margin-left:15px;
	margin-right:15px;
	border-bottom: 2px solid #E8DBA7;
}
{% endblock %} 				 

{% block content %}
{%if p %}
	<div id="article_wrap">
			<div id="entry_wrap">
				<h2><a id="content_title" href="{{entry.get_absolute_url}}">{{p.title}}</a><span class="date">Posted on {{p.time_posted  }}</span></h2>
			</div>
			<div id="user_content">
				<p>{{p.content_html|safe}}</p>			
			</div>
	</div>	
{% endif %}
{% endblock %}

{% block sidebar %}
<div id="sidebar_wrap">
<div id="twitter">
<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="mindlog">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<p>Recent Articles</p>

{% if rec_arts %}
	<ul>
	{% for a in rec_arts %}
			<li><a href="{{a.get_absolute_url}}">{{ a.get_truncated_title }}</a></li>
	{% endfor %}
	</ul>
{% else %}
<p>No articles.</p>
{% endif %}
</div>
{% endblock %}
