<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>Log In</TITLE>
   </HEAD>
   <style type="text/css">
	   <link rel="stylesheet" type="text/css" href="css/base.css">
   </style>
   <BODY>
      <form action="" method="post" id="login_form">
		  {% for field in login_form %}
		  <p>{{field.label_tag}}:{{field}}
		  {{field.errors}}</p>
		  {% endfor %}   
		  <input type="submit" value="Log In"> 
      </form>
   </BODY>
</HTML>
