{% extends "blog_theme_base.html" %}

{% block title %} {{username|capfirst}}-{{block.super}} {% endblock %}

{% block css_link %}
{{block.super}}
<LINK href="{{STATIC_URL}}css/content.css" rel="stylesheet" type="text/css"> 
{% endblock %}						
{% block css_style %}
#no_article_error p{
	margin: 20px;
	padding: 10px;
	text-align:center;
}
{% endblock %}

{% block content %}
{%if articles %}
	<div id="article_wrap">
		{% for entry in articles %}
			<div id="entry_wrap">
				<h2><a class="article_title" href="{{entry.get_absolute_url}}">{{entry.title}}</a><span class="date">Posted on {{entry.time_posted  }}</span></h2>
				<p>{{entry.raw_snippet}}</p>
			</div>
		{% endfor %}	
	</div>
{% else %}
<p id="no_article_error" style=""> {{username|capfirst}} has not written any articles yet.</p>	
{% endif %}
{% endblock %}

{% block sidebar %}<p>Archives</p>{% endblock %}
