{% extends "blog_theme_base.html" %}

{% block title %} {{username|capfirst}}-{{block.super}} {% endblock %}

{% block css_link %}
{{block.super}}
<LINK href="{{STATIC_URL}}css/content.css" rel="stylesheet" type="text/css"> 
{% endblock %}						


{% block content %}
{%if articles %}
	<div id="article_wrap">
		{% for entry in articles %}
			<div id="entry_wrap">
				<h2><a class="article_title" href="{{entry.get_absolute_url}}">{{entry.title}}</a><span class="date">Posted on {{entry.time_posted  }}</span></h2>
				<p>{{entry.raw_snippet}}</p>
			</div>
		{% endfor %}	
	</div>	
{% endif %}
{% endblock %}

{% block sidebar %}<p>Sample Sidebar</p>{% endblock %}
